/* start custom scss snippet */
.header__brand{
    a{
        font-size: 2.5em;
        font-family: "DM Serif Display";
        letter-spacing:0.05em;
    }
}

h1,h2,h3{
    font-family: "DM Serif Display";
}

header{
    margin-top: 1em;
}
/* end custom scss snippet */
